extends layout

block head
  title Fotaza - Mis Colecciones
  link(rel="stylesheet", href="/css/Style.css")

block main_content
  div.container-principal
    include partials/sidebar
    
    main#muro-principal
      h1 Mis Colecciones
      
      div.crear-coleccion
        form(action="/colecciones/crear" method="POST")
          input(type="text" name="nombreColeccion" placeholder="Nombre de nueva colección" required)
          button.btn-guardar(type="submit") + Crear Nueva Colección

      //- Listado de colecciones (Solo mostramos el nombre como link)
      if colecciones && colecciones.length > 0
        div.colecciones-grid
          each col in colecciones
            div.coleccion-card
              a(href=`/colecciones/${col.idcoleccion}`)
                h2 📁 #{col.nombre}
                p #{col.publicaciones ? col.publicaciones.length : 0} publicaciones
      else
        p Aún no tienes colecciones creadas.