extends layout
block head
  title Fotaza - Coleccion 
  link(rel="stylesheet", href="/css/Style.css")
block main_content
  div.container-principal
    include partials/sidebar
    
    main#muro-principal
      h1 📁 Colección: #{nombreColeccion}
      a(href="/colecciones") ← Volver a mis colecciones
      
      if publicaciones && publicaciones.length > 0
        div.resultados
          each pub in publicaciones
           div.card-contenedor-coleccion(id=`pub-en-col-${pub.idpublicacion}`)
            include partials/publicaciones
            div(style="margin-top: 5px; margin-bottom: 20px; text-align: right;")
                button.btn-eliminar(type="button" onclick=`quitarDeColeccion(${idColeccion}, ${pub.idpublicacion})`) ❌ Quitar de la colección
      else
        p Esta colección está vacía.