extends layout

block head
  title Fotaza - Muro
  link(rel="stylesheet", href="/css/Style.css")
  
block main_content
  div.container-principal
    include partials/sidebar
    main#muro-fotos
      each pub in publicaciones
        include partials/publicaciones 