extends layout  

include ./mixins/alerta.pug
block head
  title Fotaza - Registro 
  link(rel="stylesheet", href="/css/Style.css") 
  link(rel="stylesheet", href="/css/formularios.css")
block main_content  
  div.login-container
    div.login-card
      h2 Registrar Cuenta
      if alertas
    
        each mensaje in alertas
          +alert({ status: "error", text: mensaje })
      form(action="/registro" method="POST" novalidate)
        div.form-group 
          label(for="nombre") Nombre de Usuario
          input(type="text" id="nombre" name="nombre" required) 
                
        div.form-group
          label(for="mail") Correo Electrónico
          input(name="mail" id="mail" type="email" placeholder="ejemplo@mail.com" required) 
          
        div.form-group
          label(for="password") Contraseña
          input(name="password" id="password" type="password" placeholder="••••••••" required)
        
        div.form-group
          label(for="password2") Ingrese nuevamente la Contraseña
          input(name="passwordConfirm" id="password2" type="password" placeholder="••••••••" required)
          
        button.btn-login(type="submit") Registrarse